<nav class="bg-blue-500 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="#" class="text-white text-xl font-bold">Mi Aplicación</a>

    <!-- Menu of navigation for users logged -->
    <div *ngIf="isLoggedIn">
      <div class="space-x-4">
        <a routerLink="/crud_api" class="text-white">Reporte Covid 19</a>
        <a routerLink="/covid19" class="text-white">CRUD API</a>
        <button
          class="bg-white text-blue-500 px-4 py-2 rounded-full"
          (click)="logout()"
        >
          Cerrar Sesión
        </button>
      </div>
    </div>

    <!-- Menu of navigation for users not logged -->
    <div *ngIf="!isLoggedIn">
      <div class="space-x-4">
        <a routerLink="/" class="text-white">Iniciar Sesión</a>
      </div>
    </div>
  </div>
</nav>
