<mat-card>
  <mat-card-header>
    <mat-card-title>Iniciar Sesión</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <input
        matInput
        placeholder="Nombre de usuario"
        name="username"
        ngModel
        required
      />

      <input
        matInput
        type="password"
        placeholder="Contraseña"
        name="password"
        ngModel
        required
      />

      <button mat-raised-button color="primary" type="submit">
        Iniciar Sesión
      </button>
    </form>
  </mat-card-content>
</mat-card>
